.user-form {
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0;
    text-transform: uppercase;
  }
}

.form-head {
  text-align: center;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 2.2rem;
}

.text-field {
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  border: none;
  font-weight: 300;
  display: block;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: 5px;
  background: #dcdada;
  transition: all ease 0.2s;
  &:focus {
    box-shadow: 0px 0px 0px 6px #0000004a;
    outline: none;
  }
}

.form-wrapper {
  height: 100vh; 
  background: url('/images/../../assets/cover.png') no-repeat center;
  background-size: cover;
  color: #fff
}

.start-block {
  width: 400px;
  color: #49333e;
  background: #51ae67bf;
  border: 4px solid #5bac9c;
  border-radius: 5px;
  box-sizing: border-box;
  left: calc(100% - 300px);
}

.submit {
  background: #49333e;
  font-weight: 300;
  color: #fff;
  font-family: 'Sarabun', sans-serif;
  &:hover {
    background: #30272b;   
  }
}

.warning-msg {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

@media screen and (max-width : 540px) {
  .start-block {
    width: 300px;
  }
}