header {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.5rem 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.logo {
  color: #fff !important;
  margin: 0.5rem 0;
}

.auth-buttons {
  font-size: 1.2rem;
  align-self: center;
  a {
    color: #fff;
    display: inline-block;
    margin: 0 1rem ;
    cursor: pointer;
  }
}
