header {
  font-size: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  background: #49333eeb;
  box-shadow: 0px 2px 10px 2px #49333e;
  color: #fff;
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.logo {
  color: #fff !important;
  margin: 0.5rem 0;
}

.auth-buttons {
  font-size: 1.2rem;
  align-self: center;
  display: flex;
  a {
    color: #fff;
    display: inline-block;
    margin: 0 1rem ;
    cursor: pointer;
    padding: 0.8rem 0.4rem;
    background: #49333e;
    border: 2px solid #49333e;
    border-radius: 6px;
    &:hover {
      border: 2px solid;
    }
  }
}

@media screen and (max-width : 950px) {
  header {
    font-size: 2rem;
  }

  .logo {
    margin: 0.5rem;
  }

  .auth-buttons {
    font-size: 0.9rem;
    // padd
  }
}

@media screen and (max-width : 720px) {
  header {
    font-size: 1.5rem;
    .wrapper {
      grid-template-columns: 2fr 1fr;
    }
  }


  .auth-buttons {
    font-size: 0.7rem;
  }
}

@media screen and (max-width : 520px) {
  header {
    font-size: 1.2rem;

    .logo {
      margin: 0.5rem;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }


  .auth-buttons {
    font-size: 0.7rem;
  }
}

