/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i|Sarabun:100,200,300,400,500,600,700|Thasadith:400,400i,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-family: 'Sarabun', sans-serif;
  height: 100vh;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center {
  text-align: center;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-big {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

ol, ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.color-white {
  color: #fff;
}

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  cursor: pointer;
  padding: 0.5rem;
}

.user-form {
  font-size: 1.3rem;
  max-width: 600px;
  width: 90%;
}

.user-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.form-head {
  text-align: center;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 2.2rem;
}

.text-field {
  font-size: 1.2rem;
  font-family: 'PT Sans', sans-serif;
  border: none;
  display: block;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: 5px;
  background: #dcdada;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.text-field:focus {
  -webkit-box-shadow: 0px 0px 0px 6px #0000004a;
          box-shadow: 0px 0px 0px 6px #0000004a;
  outline: none;
}

.form-wrapper {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1477414348463-c0eb7f1359b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1477414348463-c0eb7f1359b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") no-repeat center;
  background-size: cover;
  color: #fff;
}

.start-block {
  width: 400px;
}

.submit {
  background: #2196F3;
  font-weight: 300;
  color: #fff;
  font-family: 'Sarabun', sans-serif;
}

.submit:hover {
  background: #135891;
}

.warning-msg {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 540px) {
  .start-block {
    width: 300px;
  }
}

header {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

header .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.logo {
  color: #fff !important;
  margin: 0.5rem 0;
}

.auth-buttons {
  font-size: 1.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.auth-buttons a {
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
}

.list-chatroom {
  padding: 2rem auto;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("https://images.unsplash.com/photo-1511772328218-a4252e13ab99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1511772328218-a4252e13ab99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.select-chatroom {
  font-size: 1.8rem;
  text-align: center;
  padding: 1.5rem 0;
}

.chatroom-block {
  font-size: 1.3rem;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  width: 500px;
  border-radius: 5px;
  padding: 0.5rem 0;
  padding-left: 1rem;
}

.chatroom-block:hover {
  background: #000000b5;
}

.seperator {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.make-chatroom {
  font-size: 1.2rem;
  font-variant: small-caps;
  font-weight: 300;
}

.direct-msg {
  font-size: 1.5rem;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.direct-msg:hover {
  color: #c2c2c2;
}

@media screen and (max-width: 540px) {
  .chatroom-block {
    font-size: 1.1rem;
    text-align: center;
  }
}

.chat-area {
  height: 80vh;
  overflow-x: scroll;
}

.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.message-form input[type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 1rem;
  border-radius: 0px;
}

.message-form button {
  border-radius: 0px;
  background: #057ab1;
  color: #fff;
  padding: 0 1.5rem;
  font-family: inherit;
}

.chatroom-name {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
}

.message-block {
  display: block;
  font-size: 1.2rem;
  font-family: 'PT Sans', sans-serif;
  margin: 0.5rem 0;
}

.block-right {
  text-align: right;
}

.message-sub_block {
  display: inline-block;
  background: #f0efb0;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.message-sub_block p {
  display: inline-block;
}

.right-sub_block {
  background: #9aecec;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.message-author {
  font-size: 1rem;
  padding: 0 0.5rem;
}

.message-text {
  padding: 0 0.5rem;
}

.direct-messages {
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  display: -ms-grid;
  display: grid;
}

.direct-chat-area {
  height: 88.5vh;
  position: relative;
}

.direct-message-form {
  margin: 0;
  width: 80%;
}

.warn-msg {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 0;
}

.users-list {
  background: #00968894;
}

.users-header {
  font-size: 1.8rem;
  margin: 0.9rem 0;
  text-align: center;
}

.user-block button {
  font-family: 'Thasadith', sans-serif;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-align: left;
}

.user-block button:hover {
  padding: 0;
  color: #fff;
  background: #009688f0;
}

.current-user {
  background: #ff98008a;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: 300;
}

.messages {
  height: 72vh;
  overflow-x: scroll;
}

.delete-message {
  border: none;
  background: transparent;
  font-size: 1.1rem;
  cursor: pointer;
  display: inline-block;
  color: #F44336;
}

.indicator {
  vertical-align: text-top;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.red-dot {
  background: red;
}

.green-dot {
  background: #008100;
}

@media screen and (max-width: 650px) {
  .user-block button {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=app.css.map */